{% extends "wagtailadmin/login.html" %}
{% load static wagtailimages_tags %}


{% block extra_css %}
    {{ block.super }}

    <style>
        h1 {
            display: flex;
            align-items: center;
        }
        h1 img{
            margin-right: 16px;
        }
        @media screen and (max-width: 576px) {
            h1 img {
                width: 50px;
            }
        }
    </style>
{% endblock %}


{% block branding_login %}
    {% if settings.dashboard.WebsiteSettings.logo %}
        {% image settings.dashboard.WebsiteSettings.logo height-80 as logo %}
        <img src="{{logo.url}}" alt="{{logo.alt}}">
    {% else %}
        {{block.super}}
    {% endif %}
{% endblock %}

