.block-title {
    margin-bottom: 16px;
}

.block-content {
    margin-bottom: 32px;
}

.block-blockquote {
    margin: 64px 0;
}

.block-table {
    margin: 32px 0;
}

.block-image {
    margin-bottom: 32px;
}

.block-video {
    margin: 32px 0;
}

.block-gallery {
    margin: 32px 0;
}

.block-documents {
    margin: 32px 0;
}
