<div class="block-table table-responsive">
    <table class="table">
        {% if self.table.table_caption %}
            <caption>{{ self.table.table_caption }}</caption>
        {% endif %}

        {% if self.table.first_row_is_table_header %}
            <thead>
                <tr>
                    {% for data in self.table.data|slice:":1" %}
                        {% for th in data %}
                            <th scope="col">{{th}}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for data in self.table.data|slice:"1:" %}
                    <tr>
                        {% if self.table.first_col_is_header %}
                            {% for th in data|slice:":1" %}
                                <th scope="row">{{th}}</th>
                            {% endfor %}

                            {% for td in data|slice:"1:" %}
                                <td>{{td}}</td>
                            {% endfor %}

                        {% else %}
                            {% for td in data %}
                                <td>{{td}}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>

        {% else %}
            <tbody>
                {% for data in self.table.data %}
                    <tr>
                        {% if self.table.first_col_is_header %}
                            {% for th in data|slice:":1" %}
                                <th scope="row">{{th}}</th>
                            {% endfor %}

                            {% for td in data|slice:"1:" %}
                                <td>{{td}}</td>
                            {% endfor %}

                        {% else %}
                            {% for td in data %}
                                <td>{{td}}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>
