{% load wagtailimages_tags %}

<figure class="block-image figure">
    <picture>
        {% image self.image original format-webp as image_original %}
        <source media="(min-width:1200px)" srcset="{{image_original.url}}">
        
        {% image self.image width-992 format-webp as image_desktop %}
        <source media="(min-width:992px)" srcset="{{image_desktop.url}}">
        
        {% image self.image width-768 format-webp as image_tablet %}
        <source media="(min-width:768px)" srcset="{{image_tablet.url}}">
        
        {% image self.image width-576 format-webp as image_smartphone %}
        <img class="img-fluid" src="{{image_smartphone.url}}" alt="{{image_smartphone.alt}}">
    </picture>

    {% if self.caption %}
        <figcaption class="figure-caption">{{self.caption}}</figcaption>
    {% endif %}
</figure>
