{% load static wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as sito %}

<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                {% if settings.dashboard.Branding.logo %}
                    {% image settings.dashboard.Branding.logo height-70 as logo %}
                    <img src="{{logo.url}}" alt="{{logo.alt}}">
                {% else %}
                    LOGO
                {% endif %}
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMainMenu">
                <ul class="navbar-nav ms-auto">
                    {% with menu=self.get_ancestors.1.get_children.live.in_menu|default:self.get_children.live.in_menu %}
                    {% for item in menu %}
                        {% with sub_menu=item.get_children.live.in_menu %}
                        {% if sub_menu %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if item.url in request.path %}active{% endif %}" href="#" id="navbarDropdown{{item.pk}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{item.title}}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{item.pk}}">
                                    {% for sub_item in sub_menu %}
                                        <li>
                                            <a class="dropdown-item {% if sub_item.url in request.path %}active{% endif %}" href="{{sub_item.url}}">{{sub_item.title}}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if item.url in request.path %}active{% endif %}" href="{{item.url}}">{{item.title}}</a>
                            </li>
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endwith %}

                    <li class="nav-item">
                        <a class="nav-link" href="#">Extra Item</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>